<header>
  <nav class="navbar">
    <span class="navbar-text">
      {{ hasError ? 'Issue not found...' : issue.title +' #' + issue.number }}
    </span>
  </nav>
</header>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-5 filter-container">
      <h3>Contributors</h3>
      <div style="width: 200px; height: 200px; margin: 20px;">
        <canvas id="pie" class="chart chart-pie" chart-data="contributors.nbreOfWords" chart-labels="contributors.users" ></canvas>
      </div>
      <button class="btn btn-primary btn-sm" ng-click="resetFilter()">Reset</button>
      <ul class="list-group">
        <li class="list-group-item list-group-item-action" ng-class="{ 'list-group-item-info' : userSelected(name) }" ng-repeat="(key, name) in contributors.users" ng-click="filterMessage(name)">
          <img src="{{ contributors.avatars[key] }}" class="rounded-circle" style="width: 30px; height: 30px; margin-right: 20px">
          {{ name }}
        </li>
      </ul>
    </div>
    <div class="col-md-7 issue-container">
      <ul>
        <li ng-repeat="(key, message) in issue.messages | inArray:usersToFilter:'user' | orderBy:'date'">
          <div class="row" ng-class="message.isComment ? 'comment' : 'issue'">
            <div class="col-sm-1" ng-class="{ 'push-sm-11' : message.isComment }">
              <img src="{{ message.userImage }}" class="rounded-circle" style="width: 30px; height: 30px">
            </div>
            <div class="rounded col-sm-11 message" ng-class="{ 'pull-sm-1' : message.isComment }">
              <p data-ng-bind-html="html(message.body)"></p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
